server:
  port: 8080

application:
  security:
    jwt:
      secret-key: VIrELCbxhdoyfPHfHYiCJCnwEVO6dPOvWd+FtbM+uXmnwkxHY79CqBNPq3Hrx1D5NZTuqfOcqo5iVgeRiEZMcg==

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/finflow}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  flyway:
    enabled: ${SPRING_FLYWAY_ENABLED:true}
    locations: ${SPRING_FLYWAY_LOCATIONS:classpath:db/migration}
  data:
    redis:
      host: localhost
      port: 6379


logging:
  level:
    org.springdoc: DEBUG